.ipynb_checkpoints/
ai_ch*
*.dat
*.csv
*.zip
*.otf
*.txt
data/
*.py~
*.*\#
__pycache__/
passagegenerte/charrnn.net
.vscode/
charrnn.net
.pytest_cache/
*.net
passagegenerte/.vscode/settings.json
.vscode/settings.json
vocab.pkl
hmm-tagger
.vscode/settings.json
image_caption/tox.ini
image_caption/.env
.vscode/
image_caption/models/*.pkl
